

.container-login{
  border:2px solid #333;
  padding:2rem 1rem;
  border-radius: 6px;
  box-shadow: 1px 0 5px 1px #333;
  background:transparent;
  text-align: center;
}

.container-login h1{
    text-align: center;
    text-shadow: 1px 1px 20px cyan;
}

.container-login .form-control{
    position: relative;
    margin:20px 0;
    width:300px;
    text-align: left;
}

.container-login .form-control input{
    background:transparent;
    outline:none;
    border:0;
    border-bottom: 2px solid #333;
    font-family: inherit;
    font-size:18px;
    padding:3px 0;
    width:250px;
}

.container-login .form-control input:focus,
.container-login .form-control input:valid{
    border-bottom-color: darkcyan;
}

.container-login .form-control label{
    font-size:18px;
    position: absolute;
    top:2px;
    left:0;
    z-index:-1;
}

.container-login .form-control input:focus + label, 
.container-login .form-control input:valid + label{
    color:darkcyan;
    transform:translateY(-20px);
    font-size:16px;
} 

.container-login button{
    border:2px solid darkcyan;
    margin:1rem auto;
    padding:1rem 2rem;
    background: transparent;
    font-size:18px;
    font-weight: bold;
    cursor: pointer;
    outline:none;
    font-family: inherit;
}

.container-login button:hover{
    color:#fff;
    box-shadow: inset 0 0 0 30px darkcyan;
    transform:translateX(5px);
    transition: all 0.2s ease-in;
}

.container-login button:active{
   transform:scale(0.80);
}