/* STYLES FOR THE LOGIN WINDOW */

.container-login{
  border:2px solid #333;
  padding:2rem 1rem;
  border-radius: 6px;
  box-shadow: 1px 0 5px 1px #333;
  background:transparent;
  text-align: center;
  position: absolute;
  min-width: 21%;
  top:0;
  left:20%;
  transform:translate(10%, -60%);
}

.container-login .form-control{
    position: relative;
    margin:20px 0;
    width:300px;
    text-align: left;
}

.container-login .form-control label{
    font-size:18px;
    position: absolute;
    top:2px;
    left:0;
    z-index:-1;
}

.container-login .form-control input:focus + label, 
.container-login .form-control input:valid + label{
    color:darkcyan;
    transform:translateY(-20px);
    font-size:16px;
} 
